---
import Layout from "../layouts/Layout.astro";
import NuxtTeaser, { Teaser } from "../components/NuxtTeaser.vue";

function validTeasers(items: any): Teaser[] {
  //filter out only normal teaser, skip bundle - but mainly typecast
  return items.filter((item: any) => item.type === "article");
}

const response = await fetch(
  "https://www.fvn.no/client-api/collection/top/fvn/10"
);
const data = await response.json();
const teasers = validTeasers(data.items);
---

<Layout title="just Vue">
  <main>
    <h2>Welcome to vue news loop</h2>
    {teasers.map((teaser) => <NuxtTeaser {...teaser} />)}
    {/* JS comment syntax will be skipped on build, so use for docs or TODO  */}
    {/* todo: add wrapper and handle bundles explicitly */}
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
  }
</style>
