---
import BagButton from "./BagButton.vue";

export interface Props {
  id: string;
  title: string;
  imageUuid: string;
}

const { id, title, imageUuid } = Astro.props;
---

<div class:list={["simple-teaser"]}>
  <h2>{title} [{id}]</h2>
  <p>Image UUID: {imageUuid}</p>
  <BagButton articleId={id} client:load />
</div>

<style>
  .simple-teaser {
    border: 1px solid #ccc;
    padding: 0.2rem;
    margin-bottom: 0.25rem;
    background-color: #f9f9f9;
  }
  .simple-teaser.in-list {
    background-color: rgba(
      200,
      255,
      200,
      0.75
    ); /* Light green with some transparency / or a grey: rgba(0,0,0,0.1) */
    border-color: #009900; /* Darker green border */
    transform: scale(0.8);
    transition:
      transform 0.2s ease-in-out,
      background-color 0.2s ease-in-out; /* Smooth transition */
  }
  .add-to-list-btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  .add-to-list-btn:hover {
    background-color: #0056b3;
  }
</style>
